body{
    text-align: center;
    width: 100%;
    height: 100%;
}

.main{
    visibility: hidden;
    width: 43.75%;
    height: 56.25%;
    background-color:  #1E90FF;
    margin: 0 28.125% 21.875% 28.125%;
    padding-top: 9%;
}

h1{
    font-family: Avantgarde, sans-serif;
    font-weight: bold;
    color: #1f1f1f;
}

input{
    background-color: #fff;
    color: #1f1f1f;
    height: 8%;
    width: 95%;
    padding-left: 3%;
    border: none;
    font-family: Avantgarde, sans-serif;
}

.loginBut{
    border-radius: 8px;
    background-color: #1f1f1f;
    border: none;
    color: #fff;
    width: 30%;
    font-family: Avantgarde, sans-serif;
}

p{
    font-family: Avantgarde, sans-serif;
  color: #0f0f0f;  
}

.accFunc{
    background: none;
    border:none;
    color: #fff;
}

.accFunc:hover{
    color: #1f1f1f;
}

.lockScreen{
    width: 43.75%;
    height: 56.25%;
    background-color:  #1E90FF;
    margin: 0 28.125% 21.875% 28.125%;
    padding-top: 9%;
    text-align: center;
}

.material-icons{
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -400px;
   color: white;
}

.unlockScrTxt{
    margin-top: 45%;
    font-size: 250%;
    font-weight: bold;
    font-family: Avantgarde, sans-serif;
    color: #1f1f1f;
}

.unlockFooter{
    margin-top: 60%;
    font-family: Avantgarde, sans-serif;
    font-size: 120%;
    color: #fff;
}

.unlockScr{
    border: none;
    background: none;
    width: 100%;
}

.user{
    margin-top: 15%;
}
